.Container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81A6C6;
}

.Login-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
    padding: 20px;
}
.Form{
    flex: 1;
    max-width: 520px;
    text-align: left;
    background-color: #AACDDC;
    border-radius: 15px;
    padding: 40px 30px 20px;
}

.Form h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111827;
    text-align: center;
    padding-top: -30px;
}

.Input-field input {
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    border-radius: 20px;
    border-style: none;
    outline: none;
    background: #F3E3D0;
    color: #fff;
}

.Input-field input::placeholder {
    color: #9CA3AF;
    width: 100%;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: #facc15;
    font-size: 14px;
}

.Input-field a {
    display: block;
    margin: 10px 0;
    color: #2563eb;
    text-decoration: none;
    text-align: center;
}

.Input-field a:hover {
    text-decoration: underline;
}


.social-button {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

p {
    text-align: center;
    color: #111827;
}

.IMG {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.IMG img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    object-fit: contain;
}
label {
  font-size: 16px;
  color: #111827;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #111827;

}  

.underline{
    color: #9CA3AF;
}